.App{ 
    height: 100%;
    width: 100vw;
}

.content {
    min-height: calc(100vh - 50px);
}
.footer {
    height: 50px;
    background-color: #0a035b;
    color: aliceblue;
    font-size: larger;
    align-items: center;
    padding: 1rem;
    text-align: right;
}
.carousel{

    padding: 2rem;
}
.about{
padding-top: 3rem;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    margin-bottom: 20px;
  }

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /*Adjust distance between Adoption Form Button and the Adoption Form*/
}
  
.center-button {
  margin-top: 20px;
}

  .login-error {
    color: red;
    margin-bottom: 10px;
  }

  .signup-error {
    color: red;
    margin-bottom: 10px;
  }

  /* Apply the same styles for both login and signup forms */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
  }
  
  .form-container .form {
    width: 100%;
    max-width: 500px;
    padding: 20px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 8px; 
    background: #f8f8f8; 
    text-align: center;

  }
  
  .form-container .form button {
    display: block;
    margin: 10px auto;
    width: 70%; 
    max-width: 300px; 
    font-size: 1.2rem; 
    padding: 12px; 
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .form-container {
      padding: 20px;
    }
    .form-container .form {
      padding: 10px;
    }
  }
