.App{ 
    height: 100%;
    width: 100vw;
}

.content {
    min-height: calc(100vh - 50px);
}
.footer {
    height: 50px;
    background-color: #0a035b;
    color: aliceblue;
    font-size: larger;
    align-items: center;
    padding: 1rem;
    text-align: right;
}
.carousel{

    padding: 2rem;
}
.about{
padding-top: 3rem;
}
.loginform{

    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
    margin-bottom: 20px; /* Add margin-bottom to create space below the button */
  }

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /*Adjust distance between Adoption Form Button and the Adoption Form*/
}
  
  .center-button {
    margin-top: 20px; /* Adjust the margin based on your design */
  }