.App{ 
    height: 100%;
    width: 100vw;
}

.content {
    min-height: calc(100vh - 50px);
}
.footer {
    height: 50px;
    background-color:black;
    color: aliceblue;
    font-size: larger;
    align-items: center;
    padding: 1rem;
    text-align: right;
}
.carousel{

    padding: 2rem;
}
.about{
padding-top: 3rem;
}
.loginform{

    align-items: center;
}