<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<form role ="form" method="post" th:action="@{/dog/add}" th:object="${dog}">
    <div class="form-group">
        <label for="name">Dog Name</label>
        <input
                type="title"
                class="form-control"
                id="name"
                name="name"
                th:field="${name}"
                aria-describedby="emailHelp"
                placeholder="Enter Dog Name">
    </div>
    <div class="form-group">
        <label for="natureDesc">Nature Description</label>
        <input
                type="text"
                class="form-control"
                id="natureDesc"
                name="natureDesc"
                th:field="*{natureDesc}"
                placeholder="Enter Nature Description">
    </div>

    <div class="form-group">
        <label for="color">Dog Color</label>
        <input
                type="text"
                class="form-control"
                id="color"
                name="color"
                th:field="*{color}"
                placeholder="Enter Dog Color">
    </div>

    <div class="form-group">
        <label for="breed">Dog Breed</label>
        <input
                type="text"
                class="form-control"
                id="breed"
                name="breed"
                th:field="*{breed}"
                placeholder="Enter Dog Breed">
    </div>


    <div class="form-group">
        <label for="photoUrl">Dog Photo</label>
        <input
                type="text"
                class="form-control"
                id="photoUrl"
                name="photoUrl"
                th:field="*{photoUrl}"
                placeholder="Enter Dog Url Photo Link">
    </div>

    <button type="submit" class="btn btn-primary">Add Dog</button>
</form>
</body>
</html>